.env
.env.*
**/.env
**/.env.*

!.env.example
!.env.*.example

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.out
coverage.html

bin/
build/
dist/

.cache/
tmp/
temp/

logs/
*.log

.vscode/
.idea/

.DS_Store
Thumbs.db

mysql_data/
redis_data/

.air/